<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Librería Angular</title>
	<link rel="shortcut icon" type="image/x-icon" href="icono_libro.gif">
	<link rel="stylesheet" href="bootstrap.cerulean.min.css">
	<link rel="stylesheet" href="fontAwesome4/css/font-awesome.min.css">
	<style>
		.libro {
			margin: 5px; padding: 2px;
			display: block; height: 240px;
			border: 2px solid #1673A9;
		}
	</style>
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="controllers.js"></script>
</head>
<body ng-app="LibreriaApp">
	<nav class="navbar navbar-default" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span><i class="fa fa-bars fa-fw"></i></span>
			</button>
			<a class="navbar-brand" href="#!"><i class="fa fa-home fa-fw"></i>Libreria Angular</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group row">
					<div class="col-xs-12">
						<input type="text" ng-model="busqueda" class="form-control" placeholder="Busque sus libros aquí">
					</div>
				</div>
			</form>
			<ul class="nav navbar-nav">
				<li><a href="#" data-toggle="modal" data-target="#addLibro"><i class="fa fa-plus fa-fw"></i>Agregar Nuevo Libro</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-controller="CategoriasCtrl">
				<li class="dropdown">
					<a href="#!" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-book fa fw"></i> Ver Categorías <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#!" data-toggle="modal" data-target="#addCategoria"><i class="fa fa-check fa-fw"></i>Añadir Categoría</a></li>
						<li ng-repeat="categoria in categorias"><a href="#!"><i class="fa fa-caret-square-o-right fa-fw"></i>{{categoria.nombre | uppercase}}</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</nav>
	<div class="container" ng-controller="LibrosCtrl">
		<div class="row">
			<div class="libro col-xs-6 col-sm-2 text-center pull-left" ng-repeat="libro in listaLibros | orderBy: $index | filter: busqueda: libro.titulo">
				<span ng-controller="CategoriasCtrl">
					<em>En: {{nombrarCategoria(libro.categoria) | uppercase}}</em><br>
				</span><hr>
				<h4>{{libro.titulo}}</h4>
				<em>{{libro.autor}}</em><br>
				<span>Año: {{libro.anio}}</span>
				<p ng-class="{'text-info':libro.existente, 'text-danger':!libro.existente}"><strong>{{libro.precio | currency: "Bs."}}</strong></p>
					<button ng-show="{{libro.existente}}" class="btn btn-sm" data-toggle="modal" data-target="#buyLibro" ng-class="{'btn-primary': libro.existente}">Comprar</button>
			</div>
		</div>
		<div class="modal fade" id="addCategoria" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Añadir Categoría {{listaLibros.length+1}}</h4>
					</div>
					<div class="modal-body">
						Nombre: <input type="text" placeholder="Escriba la categoría" ng-model="nombre">
						<button data-dismiss="modal" class="btn btn-sm btn-primary">Añadir</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addLibro" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Agregar Nuevo Libro</h4>
					</div>
					<div class="modal-body">
						<section>
							<label for="1">Item 1</label>
							<input class="form-control" type="text" ng-model="item1" id="1">
						</section>
						<section>
							<label for="2">Item 2</label>
							<input class="form-control" type="text" ng-model="item2" id="2">
						</section>
						<section>
							<label for="3">Item 3</label>
							<input class="form-control" type="text" ng-model="item3" id="3">
						</section>
						<section>
							<label for="4">Item 4</label>
							<input class="form-control" type="text" ng-model="item4" id="4">
						</section><br>
						<section>
							<button class="btn btn-primary btn-sm" data-dismiss="modal">Añadir</button>
							<button class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
						</section>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="buyLibro" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Comprar Libro Seleccionado</h4>
					</div>
					<div class="modal-body" ng-controller="InventarioCtrl">
						<div class="row">
							<label for="">Indique la cantidad</label>
							<input class="form-control" type="number" min="1" placeholder="Ingrese la cantidad">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
