<div class="container">
	<div class="row">
		<div class="libro col-xs-6 col-sm-2 text-center pull-left" ng-repeat="libro in filtrarLibros() | orderBy: $index">
			<span ng-controller="CategoriasCtrl">
				<em>En: {{nombrarCategoria(libro.categoria) | uppercase}}</em><br>
			</span><hr>
			<h4>{{libro.titulo}}</h4>
			<em>{{libro.autor}}</em><br>
			<span>Año: {{libro.anio}}</span>
			<p ng-class="{'text-info':libro.existente, 'text-danger':!libro.existente}"><strong>{{libro.precio | currency: "Bs. "}}</strong></p>
			<button ng-show="{{libro.existente}}" class="btn btn-sm" data-toggle="modal" data-target="#buyLibro" ng-class="{'btn-primary': libro.existente}">Comprar</button>
		</div>
	</div>
</div>
