<div class="modal fade" id="buyLibro" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Comprar Libro Seleccionado</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<label for="">Indique la cantidad</label>
					<input class="form-control" type="number" min="1" placeholder="Ingrese la cantidad">
				</div>
			</div>
		</div>
	</div>
</div>
