<div class="modal fade" id="addLibro" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Agregar Nuevo Libro</h4>
			</div>
			<div class="modal-body">
				<section>
					<label for="1">Item 1</label>
					<input class="form-control" type="text" ng-model="item1" id="1">
				</section>
				<section>
					<label for="2">Item 2</label>
					<input class="form-control" type="text" ng-model="item2" id="2">
				</section>
				<section>
					<label for="3">Item 3</label>
					<input class="form-control" type="text" ng-model="item3" id="3">
				</section>
				<section>
					<label for="4">Item 4</label>
					<input class="form-control" type="text" ng-model="item4" id="4">
				</section><br>
				<section>
					<button class="btn btn-primary btn-sm" data-dismiss="modal">Añadir</button>
					<button class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
				</section>
			</div>
		</div>
	</div>
</div>
