<div class="modal fade" id="addLibro" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Agregar Nuevo Libro</h4>
			</div>
			<div class="modal-body" ng-controller="LibrosCtrl">
				<form name="libroForm" novalidate>
					<div class="form-group"
					ng-class="{'has-error': libroForm.titulo.$invalid && libroForm.titulo.$dirty, 'has-success': libroForm.titulo.$valid && libroForm.titulo.$dirty}">
						<label class="control-label" for="titulo">Título</label>
						<input type="text" class="form-control" ng-model="libro.titulo" name="titulo" id="titulo" required pattern="[A-Za-zñáéíóú\s\.]+">
					</div>
					<div class="form-group"
					ng-class="{'has-error': libroForm.autor.$invalid && libroForm.autor.$dirty, 'has-success': libroForm.autor.$valid && libroForm.autor.$dirty}">
						<label class="control-label" for="autor">Autor</label>
						<input type="text" class="form-control" ng-model="libro.autor" name="autor" id="autor" required pattern="[A-Za-zñáéíóú\s\.]+">
					</div>
					<div class="form-group"
					ng-class="{'has-error': libroForm.anio.$invalid && libroForm.anio.$dirty, 'has-success': libroForm.anio.$valid && libroForm.anio.$dirty}">
						<label class="control-label" for="anio">Anio</label>
						<input type="number" class="form-control" ng-model="libro.anio" name="anio" id="anio" required pattern="\d{4}" maxlength="4" min="1234" max="2015">
					</div>
					<!-- TODO: Va un input:select rellenado con CategoriasCtrl -->
					<div class="form-group"
					ng-class="{'has-error': libroForm.categoria.$invalid && libroForm.categoria.$dirty, 'has-success': libroForm.categoria.$valid && libroForm.categoria.$dirty}" ng-controller="CategoriasCtrl">
						<label class="control-label" for="categoria">Categoría</label>
						<select class="form-control" ng-model="libro.categoria" name="categoria" id="categoria" required ng-options="categoria.categoria as categoria.nombre | uppercase for categoria in categorias">
							<option value="">- SELECCIONE -</option>
						</select>
					</div>
					<div class="form-group"
					ng-class="{'has-error': libroForm.precio.$invalid && libroForm.precio.$dirty, 'has-success': libroForm.precio.$valid && libroForm.precio.$dirty}">
						<label class="control-label" for="precio">Precio</label>
						<input type="text" class="form-control" ng-model="libro.precio" name="precio" id="precio" required pattern="\d+(\.\d{1,2})?">
					</div>
					<div class="form-group"
					ng-class="{'has-error': libroForm.inventario.$invalid && libroForm.inventario.$dirty, 'has-success': libroForm.inventario.$valid && libroForm.inventario.$dirty}">
						<label class="control-label" for="inventario">Inventario</label>
						<input type="number" class="form-control" ng-model="libro.inventario" name="inventario" id="inventario" required pattern="\d+" minlength="1" min="0">
					</div>
					<div class="row">
						<span class="col-xs-1"></span>
						<button ng-disabled="libroForm.$invalid" class="btn btn-primary col-xs-4" data-dismiss="modal" ng-click="addLibro(libro)">Añadir</button>
						<span class="col-xs-1"></span>
						<button class="btn btn-danger col-xs-4" data-dismiss="modal">Cancelar</button>
						<span class="col-xs-1"></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
