<div class="modal fade" id="addCategoria" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div ng-controller="CategoriasCtrl">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Añadir Categoría {{categorias.length+1}}</h4>
				</div>
				<div class="modal-body">
					<form name="categoriaForm" novalidate>
						<div class="form-group">
							<label for="nombre">Nombre:</label>
							<input type="text" class="form-control" placeholder="Escriba la categoría" ng-model="nombre" id="nombre" name="nombre">
						</div> 
						<button data-dismiss="modal" class="btn btn-sm btn-primary" ng-click="addCategoria(nombre)">Añadir</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
